 .anchors:before, .anchors:after {
    content: "";
    position: absolute;
    height: calc(100% + 20px);
    width: 20px;
    top: -10px;
    background-image: radial-gradient(circle at center, white 4px, blue 5px, transparent 5px), radial-gradient(circle at center, white 4px, blue 5px, transparent 5px);
    background-size: 20px 20px;
    background-position: top center, bottom center;
    background-repeat: no-repeat;
}

.anchors:before {
    left: -10px;
}
.anchors:after {
    right: -10px;
}

#jsonTextarea{
    width: 100%;
    height: 70vh;
}
button{
    color: #fff;
    font-weight: 600;
    height: 36px;
    width: 120px;
    font-size: 16px;
    background-color: #0078d4;
    border-radius: 6px;
    border: none;
    margin-top: 12px;

}

h2{
    font-family: sans-serif;
}